<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="us.wthr.jdem846ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="us.wthr.jdem846ui.Perspective"
            id="jDem846UI.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      
      <view
            name="Data Sources"
            allowMultiple="false"
            icon="icons/eclipse/sundial.gif"
            class="us.wthr.jdem846ui.views.data.DataView"
            id="jdem846ui.dataView" />
      
      <view
            name="Log Console"
            class="us.wthr.jdem846ui.views.LogConsoleView"
            id="jdem846ui.logConsoleView"
            icon="icons/eclipse/console_view.gif" />
            
      <view
            name="Model Configuration"
            allowMultiple="false"
            class="us.wthr.jdem846ui.views.modelconfig.ModelConfigurationView"
            id="jdem846ui.modelConfigurationView"
            icon="icons/eclipse/configure.gif" />
      
      <view
            name="Preview"
            class="us.wthr.jdem846ui.views.preview.PreviewView"
            id="jdem846ui.previewView" 
            icon="icons/eclipse/globe2.gif"/>
      <view
            name="Quick Preview"
            class="us.wthr.jdem846ui.views.preview.MiniPreviewView"
            id="jdem846ui.miniPreviewView" 
            icon="icons/eclipse/globe2.gif"/>
      <view
            name="Region Overview"
            class="us.wthr.jdem846ui.views.RegionOverviewView"
            id="jdem846ui.regionOverviewView" />
      

     
     <view
            name="Script Editor"
            class="us.wthr.jdem846ui.views.scripteditor.ScriptEditorView"
            id="jdem846ui.scriptEditorView"
            icon="icons/eclipse/scroll.png" />

     <view
            name="Layer Properties"
            class="us.wthr.jdem846ui.views.layers.LayerPropertiesView"
            id="jdem846ui.layerPropertiesView"
            icon="icons/eclipse/binary.gif" />        
     
     <view
            name="Model Statistics"
            class="us.wthr.jdem846ui.views.models.ModelStatisticsView"
            id="jdem846ui.modelStatisticsView"
            icon="icons/eclipse/chart.gif" /> 
     
	<view
         name="Tasks"
         icon="icons/eclipse/progress_task.gif"
         category="org.eclipse.ui"
         class="org.eclipse.ui.ExtensionFactory:progressView"
         id="org.eclipse.ui.views.ProgressView" />

     
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="jDem846UI.view">
         </view>
      </perspectiveExtension>
   </extension>
  -->
  
  
  <extension
         point="org.eclipse.ui.commands">
      <category
            name="jDem846"
            id="jdem846ui.category">
      </category>
      <command
            name="New Project"
            description="Creates a new project"
            categoryId="jdem846ui.category"
            id="jdem846ui.project.new">
      </command>
      <command
            name="Open Project"
            description="Opens a project"
            categoryId="jdem846ui.category"
            id="jdem846ui.project.open">
      </command>
      <command
            name="Save Project"
            description="Saves a project"
            categoryId="jdem846ui.category"
            id="jdem846ui.project.save">
      </command>
      <command
            name="Save Project As"
            description="Saves a project to a different file"
            categoryId="jdem846ui.category"
            id="jdem846ui.project.saveAs">
      </command>
      
      <command
            name="Add Data"
            description="Adds a data source"
            categoryId="jdem846ui.category"
            id="jdem846ui.data.add">
            
            <commandParameter id="jdem846ui.data.add.type" name="Raster Data" optional="true"></commandParameter>
      </command>
      <command
            name="Remove Data"
            description="Removes a data source"
            categoryId="jdem846ui.category"
            id="jdem846ui.data.remove">
      </command>
      <command
            name="Export Data"
            description="Exports a data source"
            categoryId="jdem846ui.category"
            id="jdem846ui.data.export">
      </command>
      <command
            name="Render"
            description="Render the final model"
            categoryId="jdem846ui.category"
            id="jdem846ui.render">
      </command>
      <command
      		name="Clear Log"
      		description="Clears the log console"
      		categoryId="jdem846ui.category"
      		id="jdem846ui.log.clear">
      </command>
      <command
      		name="Update Preview"
      		description="Rerenders the preview model"
      		categoryId="jdem846ui.category"
      		id="jdem846ui.preview.update">
      </command>
      <command
      		name="Update Preview with Data Refresh"
      		description="Refreshes cached data then rerenders the preview model"
      		categoryId="jdem846ui.category"
      		id="jdem846ui.preview.update.forceDataRefresh">
      </command>
      <command
      		name="Export Model"
      		description="Export the model image"
      		categoryId="jdem846ui.category"
      		id="jdem846ui.model.export">
      </command>
      <command
            name="Delete Data"
            description="Delete a rendered model from the project"
            categoryId="jdem846ui.category"
            id="jdem846ui.model.delete">
      </command>
      <command
            name="Zoom In"
            description="Zoom In"
            categoryId="jdem846ui.category"
            id="jdem846ui.zoom.in">
      </command>

      <command
            name="Zoom Out"
            description="Zoom Out"
            categoryId="jdem846ui.category"
            id="jdem846ui.zoom.out">
      </command>
      
      <command
            name="Zoom Fit"
            description="Zoom Fit"
            categoryId="jdem846ui.category"
            id="jdem846ui.zoom.fit">
      </command>
      
      <command
            name="Zoom Actual"
            description="Zoom Actual"
            categoryId="jdem846ui.category"
            id="jdem846ui.zoom.actual">
      </command>
  </extension>
  
  <extension point="org.eclipse.ui.commandImages">
  	 <image commandId="jdem846ui.project.new" icon="/icons/eclipse/project_new.gif" />
  	 <image commandId="jdem846ui.project.open" icon="/icons/eclipse/project_open.gif" />
  	 <image commandId="jdem846ui.project.save" icon="/icons/eclipse/project_save.gif" />
  	 <image commandId="jdem846ui.project.saveAs" icon="/icons/eclipse/project_saveas.gif" />
  
     <image commandId="jdem846ui.data.add" icon="/icons/eclipse/data_add.gif" />
     <image commandId="jdem846ui.data.remove" icon="/icons/eclipse/data_remove.gif" />
     <image commandId="jdem846ui.data.export" icon="/icons/eclipse/data_export.gif" />
     <image commandId="jdem846ui.render" icon="/icons/eclipse/model_create.gif" />
     
     <image commandId="jdem846ui.preview.update" icon="/icons/eclipse/refresh.gif" />
     <image commandId="jdem846ui.preview.update.forceDataRefresh" icon="/icons/eclipse/refresh_with_sync.gif" />
     
     <image commandId="jdem846ui.zoom.in" icon="/icons/eclipse/zoom_in.gif" />
     <image commandId="jdem846ui.zoom.out" icon="/icons/eclipse/zoom_out.gif" />
     <image commandId="jdem846ui.zoom.fit" icon="/icons/eclipse/zoom_fit.gif" />
     <image commandId="jdem846ui.zoom.actual" icon="/icons/eclipse/zoom_100.gif" />
     
     <image commandId="jdem846ui.model.delete" icon="/icons/eclipse/delete_config.gif" />
     
  </extension>
  
  <extension point="org.eclipse.ui.menus">
     <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
     	
     	<toolbar id="jdem846ui.toolbar.project">
     		<command commandId="jdem846ui.project.new" id="jdem846ui.toolbar.project.new" style="push" tooltip="New" />
     		<command commandId="jdem846ui.project.open" id="jdem846ui.toolbar.project.open" style="push" tooltip="Open" />
     		<command commandId="jdem846ui.project.save" id="jdem846ui.toolbar.project.save" style="push" tooltip="Save" />
     		<command commandId="jdem846ui.project.saveAs" id="jdem846ui.toolbar.project.saveAs" style="push" tooltip="Save As..." />
     	</toolbar>
     	
     	<toolbar id="jdem846ui.toolbar.edit">
     		<command commandId="org.eclipse.ui.edit.cut" id="jdem846ui.toolbar.edit.cut" style="push" tooltip="Cut" />
     		<command commandId="org.eclipse.ui.edit.copy" id="jdem846ui.toolbar.edit.copy" style="push" tooltip="Copy" />
     		<command commandId="org.eclipse.ui.edit.paste" id="jdem846ui.toolbar.edit.paste" style="push" tooltip="Paste" />
     		<command commandId="org.eclipse.ui.edit.undo" id="jdem846ui.toolbar.edit.undo" style="push" tooltip="Cut" />
     		<command commandId="org.eclipse.ui.edit.redo" id="jdem846ui.toolbar.edit.redo" style="push" tooltip="Cut" />
     	</toolbar>
     
        <toolbar id="jdem846ui.toolbar.data">
           <command commandId="jdem846ui.data.add" id="jdem846ui.toolbar.data.add" style="pulldown" tooltip="Add Data" />
           <command commandId="jdem846ui.data.remove" id="jdem846ui.toolbar.data.remove" style="push" tooltip="Remove Data" />
           
           <command commandId="jdem846ui.preview.update" id="jdem846ui.toolbar.preview.update" style="pulldown" tooltip="Update Preview" />
           
           <command commandId="jdem846ui.data.export" id="jdem846ui.toolbar.data.export" style="push" tooltip="Export Data" />
           <command commandId="jdem846ui.render" id="jdem846ui.toolbar.render" style="push" tooltip="Render Model" />
        </toolbar>
        

        <toolbar id="jdem846ui.toolbar.model">
        	<command commandId="jdem846ui.zoom.in" id="jdem846ui.toolbar.model.zoom.in" style="push" tooltip="Zoom In" />
        	<command commandId="jdem846ui.zoom.out" id="jdem846ui.toolbar.model.zoom.out" style="push" tooltip="Zoom Out" />
        	<command commandId="jdem846ui.zoom.fit" id="jdem846ui.toolbar.model.zoom.fit" style="push" tooltip="Zoom Fit" />
        	<command commandId="jdem846ui.zoom.actual" id="jdem846ui.toolbar.model.zoom.actual" style="push" tooltip="Zoom Actual" />
        </toolbar>
        
     </menuContribution>
  </extension>
  
  <extension point="org.eclipse.ui.menus">
     <menuContribution locationURI="menu:jdem846ui.toolbar.data.add">
        <command commandId="jdem846ui.data.add" label="Raster" style="push">
           <parameter name="jdem846ui.data.add.type" value="Raster">
           </parameter>
        </command>
        
        <!--
        <separator name="additions" visible="false" />
        <command commandId="jdem846ui.data.add" label="Shape" style="push" visible="false">
           <parameter name="jdem846ui.data.add.type" value="Shape" >
           </parameter>
        </command>
        -->
     </menuContribution>
     <menuContribution locationURI="menu:jdem846ui.toolbar.preview.update">
        <command commandId="jdem846ui.preview.update.forceDataRefresh" label="Update Preview with Data Refresh" style="push">
        </command>
        
     </menuContribution>
     
    
  </extension>
  
<!--
  
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>

      </menuContribution>
   </extension>
   
-->
	<extension point = "org.eclipse.debug.core.launchConfigurationTypes">

	</extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="us.wthr.jdem846ui.application"
            name="jDem846">
         <property
               name="windowImages"
               value="icons/jdem846-icon-16.png,icons/jdem846-icon-32.png,icons/jdem846-icon-48.png">
         </property>
         <property name="preferenceCustomization" value="plugin_customization.properties"/>
         <property
               name="appName"
               value="jDem846">
         </property>
      </product>
      

   </extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<!-- <scope name="foo" class="com.example.FooPrefs"/> -->
		<initializer class="us.wthr.jdem846ui.ApplicationPreferenceInitializer" />
		<modifier class="us.wthr.jdem846ui.ApplicationPreferenceChangeListener"/>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page id="jDem846UI.preferences.general"
			name="General"
			class="us.wthr.jdem846ui.preferences.GeneralPreferencesPage" />
			
		<page id="jDem846UI.preferences.rendering"
			name="Rendering"
			class="us.wthr.jdem846ui.preferences.RenderingPreferencesPage" />
		
		<page id="jDem846UI.preferences.previewing"
			name="Previewing"
			class="us.wthr.jdem846ui.preferences.PreviewingPreferencesPage" />
		
		<page id="jDem846UI.preferences.defaults"
			name="Defaults"
			class="us.wthr.jdem846ui.preferences.DefaultsPreferencesPage" />
	</extension>
	
	
	<extension
	       point="org.eclipse.ui.editors">'
		<editor
		      name="Preview"
		      extensions="demprj"
		      icon="icons/eclipse/globe2.gif"
		      class="us.wthr.jdem846ui.editors.PreviewEditor"
		      id="us.wthr.jdem846ui.editors.PreviewEditor">
		</editor>
		
		<editor
		      name="Model"
		      extensions="jpg"
		      icon="icons/eclipse/gallery_view.gif"
		      class="us.wthr.jdem846ui.editors.renderedmodel.RenderedModelEditor"
		      id="us.wthr.jdem846ui.editors.renderedmodel.RenderedModelEditor">
		</editor>
		
		<editor
		      name="Script"
		      extensions="js"
		      icon="icons/eclipse/scroll.png"
		      class="us.wthr.jdem846ui.editors.JavascriptEditor"
		      id="us.wthr.jdem846ui.editors.JavascriptEditor">
		</editor>
		
	</extension>
</plugin>
